#button{
  margin-top: 20px;
  image-orientation: relative;
}
h1{
  font-family: cursive;
}
.card-title{
  font-family:  cursive;
}
#results{
  display: none;
}
.card{
  background-color: rgba(2, 166, 191, 0.9);
}
.jumbotron{
    background-color: rgba(171, 178, 185, 0.9)  ;
}
body{
/*   background-image: url("https://cdn.pixabay.com/photo/2020/07/14/19/47/armillary-sphere-5405533_960_720.png"); */
  background-position: center;
  background-repeat:  no-repeat;
}
